<% if (page.cc){ %>
<div align="center" style="margin-bottom: 20px">
<div style="background:url(http://ww1.sinaimg.cn/small/e724cbefgw1ewlex9o0vrj20by0by0ti.jpg) no-repeat;background-size:200px 200px;height:200px;width:200px;">
</div>
哎呦，不错哦，这个博客有意思~微信扫一扫，最新文章主动推送
</div>
<% } %>


