.heimu
  background-color #252525 !important
  color #252525 !important
.toc-article
  background color-code
  margin 2em 0 0 0.5em
  padding 1em
  strong
    padding 0.3em 0
#toc
  line-height 1em
  font-size 0.8em
  float right
  .toc
    padding 0 
    li
      list-style-type none
  .toc-child 
    padding-left 1.5em

@media only print
  .print-invisible *
    display: none !important

@media mq-mobile
  .mobile-hide
    display: none !important

@media mq-mini
  .mobile-hide
    display: none !important


#advertise
  @extend $block
  padding: article-padding
  margin: block-margin 0
  a
    color: color-link

.article-author
  float: right
  line-height: 1em
  color: color-default
  margin-right: 10px

.article-simple
  padding-left: 20px;
  //padding-bottom: 5px;
  background: #fff;
  font-size: 15px;

//#header
//  position: fixed;
//  background: #fff;
//  width: 100%;
//  z-index: 1000;
//
//#container 
//  > .outer
//    @media mq-normal
//      padding-top: logo-size;
//    @media mq-tablet
//      padding-top: logo-size;
//    @media mq-mobile
//      padding-top: logo-size * 2;
//    @media mq-mini
//      padding-top: logo-size * 2;
